<header class="header">
    <div class="logo">
        <p>logo</p>
    </div>
    <nav class="menu">
        <ul class="list">
            <li>
                <a href="/" class="anchor">Home</a>
            </li>
            <li>
                <a href="/realTimeProducts" class="anchor">Products</a>
            </li>
            <li>
                <a href="#" class="anchor">About</a>
            </li>
            <li>
                <a href="#" class="anchor">Contact</a>
            </li>
        </ul>
    </nav>
</header>